---
import Page from "../../layouts/Page.astro"
import { getCollection } from "astro:content"
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog")
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}
const { entry } = Astro.props
const { date, tags } = entry.data

const { Content } = await entry.render()
---

<Page
  pageTitle={entry.data.title}
  description={entry.data.description}
  heroImg={entry.data.heroImg}
  heroImgCredit={entry.data.heroImgCredit}
>
  <div
    class='text-xs border-t border-b border-gray-400 text-gray-500 mb-5 pb-2 flex justify-between -mt-4'
  >
    {date && <p>Published: {date.toDateString()}</p>}
    {
      tags && (
        <p class='divide-x divide-black'>
          Tags:{" "}
          {tags.map((tag: String) => (
            // <li>
            <a class='px-1 no-underline' href={`/tag/${tag}`}>
              {tag}
            </a>
            // </li>
          ))}
        </p>
      )
    }
  </div>

  <article
    class='max-w-none prose prose-img:mx-auto prose-img:border-white prose-img:border-8 prose-img:shadow-md'
  >
    <Content />
  </article>
</Page>
