---
const collection = "blog"
import Posts from "../layouts/Posts.astro"
import Card from "../components/Card.astro"

import { getCollection } from "astro:content"
const allBlogPosts = await getCollection(collection)
---

<Posts>
  <section class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3'>
    {
      allBlogPosts
        .sort((a: any, b: any) => {
          return b.data.date - a.data.date
        })
        .map((post) => {
          return (
            <Card
              title={post.data.title}
              url={`/${collection}/${post.slug}`}
              excerpt={post.data.description}
              heroImg={post.data.heroImg}
              date={post.data.date}
              tags={post.data.tags}
            />
          )
        })
    }
  </section>
</Posts>
