---
const { title, url, excerpt, heroImg } = Astro.props
import { Image } from "astro:assets"
---

<article class='shadow-md w-full rounded-md bg-white'>
  {
    heroImg && (
      <div class='relative'>
        <a href={url}>
          <Image
            class='rounded-t-md object-cover w-full h-32 border-b-2 border-red-500'
            src={heroImg}
            alt={title}
            width={600}
          />
        </a>
      </div>
    )
  }

  <div class='p-3 sm:p-2 md:p-3'>
    <h2 class='text-xl font-bold'><a href={url}>{title}</a></h2>
    <p>{excerpt}</p>
    <p class='text-right text-red-500'><a href={url}>Read more...</a></p>
  </div>
</article>
