---
const { title, url, excerpt, heroImg, date, tags } = Astro.props
import { Image } from "astro:assets"
---

<article
  class='shadow-md w-full rounded-md bg-white flex flex-col justify-between'
>
  {
    heroImg && (
      <div class='relative'>
        <a href={url}>
          <Image
            class='rounded-t-md object-cover w-full h-32 border-b-2 border-red-500'
            src={heroImg}
            alt={title}
            width={600}
          />
        </a>
      </div>
    )
  }

  <div class='p-3 sm:p-2 md:p-3'>
    <h2 class='text-xl font-bold'><a href={url}>{title}</a></h2>
    <p>{excerpt}</p>
    <p class='text-right text-red-600'><a href={url}>Read more...</a></p>
  </div>

  <div
    class='text-xs border-t border-b border-gray-400 text-gray-500 mx-2 mb-3 p-1 py-2'
  >
    {date && <p>Published: {date.toDateString()}</p>}
    {
      tags && (
        <p>
          Tags:{" "}
          {tags.map((tag) => (
            <a class='pr-1' href={`/tag/${tag}`}>
              {tag}
            </a>
          ))}
        </p>
      )
    }
  </div>
</article>
